

/* Texto Presentacion */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #b5dac9;
}


h3{
    font-family: sans-serif;
    color: #b5dac9;
}
/* Fin Presentacion */

/* Fondo */
.principal{
    background-color: #020912;
}  

/* Fin Fondo */
 
/* Boton de Link */
#button{
    border-color:#26085e ;
    color: #b5dac9;
}
a{
   color: #b5dac9;
   text-decoration: none;
}
/* Fin Boton Link */